body {
    display: flex;
    flex-direction: row;
    justify-content: left;
   
    height: 100vh;
    background-color: hsl(228, 4%, 15%);
}

#google-label {
    position: absolute;
    top: 0px;
    left: 50px;
    color: white;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

hr {
    position: absolute;
    top: 60px;
    width: 100%;
    color:  hsl(228, 4%, 20%);
    border: 1px solid hsl(228, 4%, 20%);;
}

#container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100vw;
    margin-top: 70px;
    margin-left: 30px;
    color: rgba(216, 215, 215, 0.897);
    gap: 15px;
}

#search_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


#container h2 {
    font-size: 1.4em;
}

#container #submit_button {
    position: absolute;
    width: 125px;
    height: 50px;
    bottom: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    right: 400px;
    background-color: rgb(0, 119, 255);
    border: none;
    border-radius: 6px;
}

#container div label {
    width: 50%;
}

#container div input {
    position: absolute;
    right: 400px;
    height: 30px;
    width: 300px;
    background-color: transparent;
    border: 1px solid hsl(228, 3%, 72%);
    border-radius: 2px;
    color: white;
    padding: 5px;
}

